<form method='get'>
    <input type='text' name='q'>
    <input type='submit' value='search'>
</form>

<table>
    <tr>
        <th>No.</th>
        <th>title</th>
        <th>author</th>
        <th>create_at</th>
    <tr>
    {% for post in posts %}
    <tr>
        <td>{{ post.id }}</td>
        <td>
            <a href="{% url 'blog:post_detail' post.id %}">
                {{ post.title }}
            </a>
        </td>
        <td>{{ post.author }}</td>
        <td>{{ post.create_at }}</td>
    </tr>
    {% endfor %}
</table>
