<table>
    <tr>
        <th>No.</th>
        <th>Title</th>
        <th>Owner</th>
        <th>Photo List</th>
    </tr>
    {% for album in album_list %}
    <tr>
        <td>{{ album.id }}</td>
        <td>
            <a href="{% url 'album:album_detail' album.id %}">
                {{ album.title }}
            </a>
        </td>
        <td>{{ album.user }}</td>
        <td>
            {% for photo in album.photo_set.all %}
                {{ photo.id }}.{{ photo.title }}<br>
            {% endfor %}
        </td>
    </tr>
    {% endfor %}

</table>
