<table>
    <tr>
     <th>No.</th>
     <th>title</th>
     <th>author</th>
     <th>create_data</th>
    </tr>
    {% for post in posts %}
    <tr>
        <td>{{ post.id }}</td>
        <td><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></td>
        <td>{{ post.author }}</td>
        <td>{{ post.created }}</td>
    </tr>
    {% endfor %}
</table>
<hr>
<a href="{% url 'post_new' %}">
    <button>wirte post</button>
</a>
<p>search<p>
<form>
    <input type='text' name='q' value='search word'>
    <input type='submit' value='submit'>
</form>
