{% if user.is_authenticated %}
<p>Welcome {{ user.username }}</p>
<a href="{% url 'logout' %}">
    <button>Logout</button>
</a>

<form method='get'>
    <input type='text' name='q'>
    <input type='submit' value='search'>
</form>
<ul>
{% for post in posts %}
<a href="{% url 'blog:post_detail' post.id %}">
<h1>{{ post.title }}</h1></a>
<small>- by {{ post.author }} at {{ post.create_at }}</small>
{% endfor %}
</ul>
<hr>
<a href="{% url 'blog:post_new' %}">
<button>New Post</button></a>
{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">
    <button>Login</button>
</a>
{% endif %}
