{% extends 'base.html' %}

{% block title %}Post Detail{% endblock %}

{% block content %}
<h2>{{ post.title }}</h2>
<hr>
<p>author : {{ post.author }} | created : {{ post.create_date }}</p>
<hr>
{{ post.content }}
{% if post.photo %}
<img src="{{ post.photo.url }}" width="200px">
{% endif %}

<hr>
<div id='option'>
  <a href="{% url 'blog:post_list' %}"><button>Post List</button></a>
  <a href="{% url 'blog:post_update' post.id %}"><button>Modify</button></a>
  <a href="{% url 'blog:post_del' post.id %}"><button>Delete</button></a>
</div>
{% endblock %}
